* { margin: 0; padding: 0;font-family: "微软雅黑"; font-size: 14px; color: #333;}
body{width: 100%;}
#top{width:100%; background-color: #333;height: 40px;}
#navtop{width:1230px;margin: 0 auto;}
.ntleft{float:left}
.ntright{float:right;}
.ntleft a, .ntright a{text-decoration: none; color:#aaa; line-height: 40px; margin-left: 5px;}
.ntleft a:hover, .ntright a:hover{color:white; text-decoration: none;}
.ntright div{float: right; margin-left: 15px; margin-right: 5px; width: 120px;height: 40px; background-color: #444; color: #ddd; line-height: 40px; text-align: center;}
header{padding-top: 1px; width:1230px;height:99px;margin:0 auto;/*background-color:#888;*/}
#logo{margin-top:20px;float: left;}
#navigate{ float: left; list-style:none;height: 50px;width: 620px; margin: 25px 0 0 160px; /*background-color:pink;*/}
#navigate li{float:left; cursor: pointer; font-size: 16px; line-height: 50px; margin-right: 20px;}
#navigate li:last-child{margin-right: 0;}
#navigate li:hover{color: orangered;}
#search{width: 296px; height: 50px; border: solid 1px #b8b8b8;float:right;margin-top:24px;}
#search input{width: 243px;height: 48px; border: none; padding-left: 15px; border-right: solid 1px #b8b8b8;}
#search button{width: 50px;height: 48px; float: right;border: none; cursor: pointer;background-image: url("../images/search_1.png")}
#search button:hover{background-image: url("../images/search_2.png")}

nav{width:1230px;height:670px;margin: 0 auto; position: relative;}
#bannel{width:1230px;height:460px;background-color:#00aaee; position: relative;}
#bannel-type{width: 234px;height: 460px;background-color: rgba(0, 0, 0, 0.5); ;padding: 1px;position: absolute;z-index:100;}
#bannel-type ul {list-style: none;margin-top:20px;}
#bannel-type ul li{color: #efefef; font-size: 14px;padding-left: 20px;height: 42px; line-height: 42px; cursor: pointer;}
#bannel-type ul li:hover{background-color: orangered;}
#bannel-type ul span{float:right;margin-right: 20px;}
#bannel-type ul span em{color: white;}
#bannel-imgs{float:right; z-index: 1;}
#bannel-imgs > img{position: absolute;left: 2px; top: 0;}

#advertis{width:1230px;height:170px;margin-top:14px;/*background-color: #00c0a5;*/}
#advleft{width: 234px;height: 170px; background-color: rgba(10,10,10,0.5); float:left;text-align: center; }
#advleft > div{float:left;width: 70px; margin-left:6px;margin-top:25px; cursor: pointer;}
#advleft div{color: #d8d8d8;}
#advleft div:hover{color:#efefef;}
#advleft img{width:30px;margin-left:2px;}

#advright{width:978px; height: 170px; margin-left: 14px; float:right;}
#advright img{height: 170px;margin-right: 10px;}
#advright img:last-child{margin-right: 0;}

#container  {width:100%;background-color: #F5F5F5;}
#home-flashsale{width: 1230px;height: 398px;/*background-color: palevioletred;*/margin: 0 auto;}
#home-flashsale #box-hd{height: 58px;}
#home-flashsale #box-hd h2{font-size:22px;font-weight:200;line-height:58px;}
#home-flashsale #box-bd{width:1230px; height:340px;}
#box-bd-timer{width: 234px;height:340px;border-top: solid 1px red;float:left;}
#box-bd-inner{background-color: white; width: 978px; height: 340px; float:right;}
#box-bd-inner .fav{border-top:orange solid 1px; width: 234px; float: left;margin-right: 14px;}
#box-bd-inner .fav:last-child{margin-right:0;}
#box-bd-inner a{text-decoration:none;display: block; width: 234px;padding-top: 39px;}
#box-bd-inner a img{width: 160px; margin-left:40px;}
#box-bd-inner a .title{text-align: center;}
#box-bd-inner a .desc {text-align: center; color:#d1d1d1; font-size: 12px;}
#box-bd-inner a .price{color:red;margin-top:10px; text-align:center;}
#box-bd-inner a .price span:nth-of-type(1){color:red;}
#box-bd-inner a .price del{color:#b8b8b8;}
#box-bd-timer {background-color: #F1EDED;}
#box-bd-timer .round{text-align: center; color: orangered; font-size:22px;margin-top: 60px;}
#box-bd-timer img{margin: 30px 0 0 100px;}
#box-bd-timer .desc{text-align: center; color: #666; margin-top: 30px; font-size:16px;}

.home-banner-box{width: 1230px; height: 120px; background-color: peachpuff; margin: 22px auto;}
.home-banner-box > img{width: 1230px; height: 120px; }

.goods_row{width: 1230px; height: 685px; /*background-color: palevioletred;*/margin: 0 auto;}
.goods_row .gtheader{height:58px;}
.goods_row .gtheader h2{font-weight: 200; font-size:22px; line-height: 58px;}
.goods_row .grleft{width: 234px; height: 628px; float:left;}
.goods_row .grright{width: 978px; height: 628px; float: right;}
.goodsboxitem{width: 234px;height:300px;background-color:white; float:left; margin-left:10px; margin-bottom: 10px;}
.grleft .goodsboxitem  a{padding: 0;}
.goodsboxitem a{text-decoration:none;display: block; width: 234px;padding-top: 39px;}
.goodsboxitem a > img{width: 234px; height: 300px;vertical-align: top;}
.goodsboxitem a .content img{width: 160px; margin-left:40px;}
.goodsboxitem a .title{text-align: center;}
.goodsboxitem a .desc {text-align: center; color:#d1d1d1; font-size: 12px;}
.goodsboxitem a .price{color:red;margin-top:10px; text-align:center;}
.goodsboxitem a .price span:nth-of-type(1){color:red;}
.goodsboxitem a .price del{color:#b8b8b8;}


#home-video-box{width: 1230px; height:357px; /*background-color:pink; */margin: 0 auto;}
#home-video-box-bd{width: 1230px;height: 298px;}
#home-video-box-bd .goodsboxitem{width: 296px; height: 285px;background-color: white; border: none;}
.goodsboxitem > img{width:296px;}
.goodsboxitem > .desc{ clear: both; width: 300px; text-align:center;margin-top: 30px; font-size: 18px; color: #666;}


#footer-service{width: 1230px;height:80px;/*background-color:plum; */margin: 0 auto;padding: 0;border-bottom: solid 1px #d1d1d1;}
#footer-service ul{list-style: none;padding-top: 0;}
#footer-service ul > li{height: 80px; width: 246px;/*background-color: red;*/ float: left;text-align: center;}
#footer-service ul > li img{vertical-align: middle; margin-top: -5px;margin-right: 5px;}
#footer-service ul > li a{text-decoration: none; color: #666; line-height: 80px;font-size: 18px;}
#footer-service ul > li a:hover{ color: red;}

#footer-links{width: 1230px;height:192px;padding:40px 0;/*background-color:darkorange;*/margin: 0 auto;}
#footer-links dl {float: left; width: 160px;}
#footer-links dl  dd{margin-top:15px;}
#footer-links dl  a{text-decoration: none; color: #b8b8b8;}
#footer-links dl  a:hover{color:red;}

#site-info {width: 1230px; margin: 0 auto;}
#site-info .sileft{float:left; width: 50px;}
#site-info .siright{float:right;width: 1150px;}
#site-info .siright a{color: #888; text-decoration: none;}
#site-info .siright a:hover{color: red;}

.clear{clear:both;}